# Virtual envs
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment & secrets
.env
.streamlit/secrets.toml

# Logs
logs/

# Build / packaging
build/
dist/
*.egg-info/

# Editor & OS cruft
.vscode/
.idea/
.DS_Store
Thumbs.db